﻿<div class="col-sm-12">
    <div class="panel panel-primary panel-table">
        <div class="panel-heading">
            <div class="panel-title">
                <h3>Hello</h3>
                <span>World</span>
            </div>

            <div class="panel-options">
                <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
            </div>
        </div>
        <div class="panel-body">
            {{message}}
        </div>
    </div>

</div>
