﻿<div class="login-container">
    <div class="login-header login-caret">
        <div class="login-content">
            <a href="index.html" class="logo">
                <img src="../../Content/logo1.jpg" />
                <!--<img src="/Content/assets/images/logo@2x.png" width="120" alt="" />-->
            </a>
            <p class="description">Dear user, log in to access the store area!</p>
        </div>

        <!--<div class="form-group">
            <button type="submit" class="btn btn-primary btn-block btn-login">
                <i class="entypo-login"></i>
                Login In
            </button>
        </div>-->
    </div>

    <div class="login-form">

        <div class="login-content">
            .
            <div class="form-login-error">
                <h3>Invalid login</h3>
                <p>Enter <strong>hammad</strong>/<strong>@Dmin123</strong> as login and password.</p>
            </div>

            <form id="form_login" ng-submit="login()" novalidate>

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-user"></i>
                        </div>

                        <input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off" ng-model="username" required />
                    </div>

                </div>

                <div class="form-group">

                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="entypo-key"></i>
                        </div>

                        <input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off" ng-model="password" required />
                    </div>

                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-login">
                        <i class="entypo-login"></i>
                        Login In
                    </button>
                </div>

            </form>

        </div>

    </div>

</div>

<!-- Bottom scripts (common) -->
<!--<script src="assets/js/gsap/main-gsap.js"></script>
<script src="assets/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/joinable.js"></script>
<script src="assets/js/resizeable.js"></script>
<script src="assets/js/neon-api.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/neon-login.js"></script>-->
